aiohttp==3.8.1
aiosignal==1.2.0
alabaster 
alpha-vantage==2.3.1
anaconda-client 
anaconda-navigator==2.1.1
anaconda-project 
anyio 
appdirs==1.4.4
argh==0.26.2
argon2-cffi 
arrow
asgiref==3.5.0
asn1crypto 
astroid 
astropy
async-generator
async-timeout==4.0.2
atomicwrites==1.4.0
attrs 
Automat==20.2.0
autopep8 
Babel 
backcall
backports.functools-lru-cache 
backports.shutil-get-terminal-size 
backports.tempfile
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4
binaryornot 
bitarray
bkcharts==0.2
black==19.10b0
bleach 
bokeh 
boto==2.49.0
Bottleneck 
brotlipy==0.7.0
cached-property 
certifi==2021.10.8
cffi
chardet 
charset-normalizer
click==8.0.3
cloudpickle 
clyent==1.2.2
colorama 
comtypes==1.1.10
conda==4.10.3
conda-build==3.21.6
conda-content-trust
conda-pack
conda-package-handling 
conda-repo-cli
conda-token 
conda-verify==3.4.2
constantly==15.1.0
contextlib2 
cookiecutter 
cryptography 
cssselect==1.1.0
cycler==0.10.0
Cython 
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
debugpy 
decorator 
defusedxml 
diff-match-patch
distributed 
Django==4.0.2
django-filter==21.1
docutils 
entrypoints==0.3
et-xmlfile==1.1.0
fastcache 
filelock 
finance==0.2502
fix-yahoo-finance==0.1.37
flake8 
Flask 
fonttools==4.25.0
frozenlist==1.3.0
fsspec 
future 
gevent 
glob2 
greenlet 
gunicorn==20.1.0
h5py 
HeapDict 
html5lib 
hyperlink==21.0.0
idna 
iexfinance==0.5.0
imagecodecs 
imageio
imagesize 
importlib-metadata 
incremental==21.3.0
inflection==0.5.1
iniconfig 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itemadapter==0.5.0
itemloaders==1.0.4
itsdangerous 
jdcal 
jedi 
Jinja2 
jinja2-time 
jmespath==1.0.0
joblib
json5 
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-server 
jupyterlab 
jupyterlab-pygments
jupyterlab-server 
jupyterlab-widgets 
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
llvmlite==0.37.0
locket==0.2.1
lxml 
MarkupSafe 
matplotlib 
matplotlib-inline
mccabe==0.6.1
menuinst 
mistune 
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mock 
more-itertools 
mpmath==1.2.1
msgpack 
multidict==6.0.2
multipledispatch 
multitasking==0.0.10
munkres==1.1.4
mypy-extensions==0.4.3
mysql==0.0.3
mysql-connector-python-rf==2.2.2
mysqlclient==2.1.0
navigator-updater==0.2.1
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk==3.6.5
nose 
notebook 
numba 
numexpr 
numpy 
numpydoc 
oauthlib==3.2.0
olefile 
openpyxl 
packaging 
pandas 
pandas-datareader==0.10.0
pandocfilters 
paramiko 
parsel==1.6.0
parso 
partd 
path 
pathlib2 
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
pexpect 
pickleshare 
Pillow==8.4.0
pkginfo==1.7.1
plotly==5.6.0
pluggy 
ply==3.11
poyo 
prometheus-client 
prompt-toolkit 
Protego==0.2.1
psutil 
ptyprocess 
py 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle 
pycosat==0.6.3
pycparser 
pycurl==7.44.1
PyDispatcher==2.0.5
pydocstyle 
pyerfa 
pyflakes 
Pygments 
PyJWT 
pylint 
pyls-spyder==0.4.0
PyNaCl 
pynput==1.7.6
pyodbc===4.0.0-unsupported
pyOpenSSL 
pyparsing 
pyreadline==2.1
pyrsistent 
PySocks
pytest==6.2.4
python-dateutil 
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify 
pytz==2021.3
PyWavelets
pywin32==228
pywin32-ctypes 
pywinpty 
PyYAML==6.0
pyzmq 
QDarkStyle
qstylizer 
QtAwesome 
qtconsole 
QtPy 
queuelib==1.6.2
regex 
requests==2.27.1
requests-file==1.5.1
requests-oauthlib==1.3.1
rope 
Rtree 
ruamel-yaml-conda 
scikit-image==0.18.3
scikit-learn 
scikit-learn-intelex==2021.20210714.120553
scipy==1.8.0
Scrapy==2.6.1
seaborn==0.11.2
Send2Trash 
service-identity==21.1.0
simplegeneric==0.8.1
singledispatch 
sip==4.19.13
six 
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
Sphinx==4.2.0
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy 
sqlparse==0.4.2
statsmodels==0.12.2
sympy 
tables==3.6.1
tabulate==0.8.9
TBB==0.2
tblib
tenacity==8.0.1
terminado==0.9.4
testpath 
text-unidecode 
textdistance 
threadpoolctl 
three-merge 
tifffile 
tinycss 
tkcalendar==1.6.1
tldextract==3.2.0
toml 
toolz 
tornado 
tqdm 
traitlets 
tweepy==4.5.0
Twisted==22.2.0
twisted-iocpsupport==1.0.2
typed-ast 
typing-extensions 
tzdata==2021.5
ujson 
unicodecsv==0.14.1
Unidecode 
urllib3==1.26.7
w3lib==1.22.0
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug 
whichcraft 
whitenoise==6.0.0
widgetsnbextension 
win-inet-pton 
win-unicode-console==0.5
wincertstore==0.2
wrapt 
xlrd 
XlsxWriter 
xlwings==0.24.9
xlwt==1.3.0
xmltodict 
yapf 
yarl==1.7.2
yfinance==0.1.70
zict==2.0.0
zipp 
zope.event==4.5.0
zope.interface 
